body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header{
    background-color: #1f2937;
    padding: 16px 100px;
    align-items: center;

}

.header-top{
    display: flex;
    justify-content: space-between;
}


img{
    width: 200px;
    height: auto;
}

button{
    width: auto;
    background-color: blue;
    color: white;
    border-radius: 2px;
}

ul{
    list-style-type: none;
    display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: lighter;
  font-size: 12px;
  color: #f9faf8;
}

.header-content{
    display: flex;
}

.header-left{
display: flex;
flex-direction: column;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sub-text{
    font-size: 18px;
    font-weight: bolder;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}
